.sidebar {
  grid-area: sidebar;
}

.pages {
  grid-area: mainpage;
}

/* Default styles for mobile devices */

.layout {
  display: grid;
  grid-template-areas:
    "mainpage mainpage mainpage"
    "mainpage mainpage mainpage"
    "sidebar sidebar sidebar ";
}

/* Styles for tablets (portrait) and up */
@media (min-width: 768px) {
  .layout {
    display: grid;
    grid-template-areas:
      "mainpage mainpage mainpage"
      "mainpage mainpage mainpage"
      "sidebar sidebar sidebar ";
  }
}

/* Styles for laptops and up */
@media screen and (min-width: 1024px) {
  .layout {
    display: grid;
    grid-template-areas:
      "sidebar mainpage mainpage"
      "sidebar mainpage mainpage"
      "sidebar  mainpage mainpage";
  }
}
